// $color-bg: #1f3448;
$color-bg-darker: #0a1f2d;
$color-header-bg-khaki: #5a5640;
$color-header-bg-khaki-light: #a09a73;
$color-khaki-light: #faebd7;
$color-primary: #b0e2ff;
$color-primary-light: #ceecfd;
$color-primary-dark: #0e1720;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.8rem;

//grid
$grid-width: 126rem;
$gutter-vertical: 9rem;
$gutter-vertical-small: 6.3rem;
$gutter-horizontal: 7rem;
