.blur-hero-img {
   backdrop-filter: blur(0.6rem);
   height: 90vh;
}

.logo-box {
   /* temp */
   display: none;
   top: 1.8rem;
   left: 31.2rem;
   position: absolute;
   /* top: 4.5rem;
   left: 4.5rem; */
}

/* .logo-box */

.logo {
   height: 6.2rem;
   background: #b0e2ff;
   border-radius: 100%;
}

.header-bg {
   position: relative;
   height: 100vh;
   background-image: linear-gradient(
         90deg,
         rgba($color-bg-darker, 0.6),
         rgba($color-primary-dark, 0.9)
      ),
      url('../img/webp/hero-bg.webp');
   background-size: cover;
   background-position: center;
   /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}

.hero-txt-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;

   @include respond(tab-land) {
      width: 81vw;
   }

   @include respond(phone) {
      width: 93vw;
   }
}

.primary-header {
   font-family: Purista, Bold;
   color: $color-primary;
   text-transform: uppercase;
   margin: 3rem;
   text-align: center;

   &-main {
      display: inline-block;
      padding: 0.3rem 0.9rem;
      font-size: 6.3rem;
      font-weight: bolder;
      font-family: 'Purista';
      letter-spacing: 0.18rem;
      animation: moveToBottom 0.69s ease-in-out;

      @include respond(phone) {
         letter-spacing: 0.12rem;
         font-size: 4.5rem;
      }

      &-bg {
         padding: 0rem 1rem;
         display: inline;
         background-color: $color-header-bg-khaki;
      }
   }

   &-sub {
      display: block;
      text-transform: uppercase;
      font-size: 2.1rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      animation: moveToTop 0.69s ease-in-out;

      @include respond(phone) {
         letter-spacing: 0.05rem;
      }
   }
}

.primary-para-sub {
   font-size: 1.8rem;
   font-weight: bold;
   display: block;
   margin: 3rem 0.3rem;
}

.welcome-txt {
   text-transform: uppercase;
   max-width: 120rem;
   margin: 9rem auto;
   color: $color-primary;
   text-align: center;

   @include respond(tab-land) {
      max-width: 81vw;
   }

   @include respond(tab-port) {
      padding: 0rem 1rem;
      margin: 9rem auto;
   }
}

.l-txt {
   display: inline;
   font-size: 6rem;
   padding: 0.9rem;
   text-shadow: 0 0 1rem $color-primary;
   // background-color: $color-header-bg-khaki;

   @include respond(tab-land) {
      font-size: 4.5rem;
   }

   @include respond(phone) {
      font-size: 3rem;
   }

   &-temp {
      margin: 1.8rem;
      padding: 1.8rem;

      @include respond(tab-land) {
         margin: 0.9rem;
         padding: 1.5rem;
         font-size: 2rem;
      }

      @include respond(phone) {
         font-size: 1.5rem;
      }
   }
}

.margin-x {
   margin: 0.9rem;
}
